
#discussions{
	top: 0; 
	margin: 0;
}

#discussions > h1.title{
	font-family: Chaparral;
	text-align: center;
	font-size: 3em;
	letter-spacing: 0.05em;
	padding: 10px;
	text-transform: capitalize;
	color: white;
	background-color: #e74c3c;
}


.discussion{
	min-height: 220px;
	padding: 10px 10px;
	border-style: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.down{
	margin-bottom: -2px;	
}

.app{
	display: inline-block;
	float: left;

}

.discussion .app .up, .down, .votes{
	padding: 10px 3px;
	
}

.up:hover, .down:hover{
	transform: scale(0.9, 0.9);
	border-radius: 50%;

}

form.sort{
	text-align: center;
	padding: 10px;
}


.newdiscussion{
	
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: white;
    border: 1px solid #DDD;
    box-sizing: border-box;
    height: auto;

}

.discussion, 
.newdiscussion{
	margin: 15px auto 15px auto;
	box-sizing: border-box;
	width: 50%;

}

.discussion.legend{
	display: inline;
}

 textarea,
 input[type=text]{ 
	padding: 10px 20px;
	margin: 10px 5px;
}


 input[type=text]{
	width: 100%;
	margin-left: auto;

}

 textarea{
	resize: none;
	height: 40px;
	width: 100%;
	transition: 0.2s;
	resize: none;
}

 textarea:focus{
	height: 200px;
}

.btn{
	margin: 10px 5px 10px auto;
	display: block;
}

.discussion a, a:hover{
	text-decoration: none;
   /* font-size: 1em;*/
    /*color: #3498db;*/
    /*margin: 5px 0;*/
}

.title{
	font-weight: bold;
	color: #740000;
}

.title:hover{
	color: #ff8a80;;
}

.user:hover{
	text-decoration: underline;
}

.user, .up, .down{
	font-weight: normal;
    font-size: 1em;
    color: #3498db;
    
}


.discussion .remove, .edit{
	border-radius: 50%;
	padding: 5px 5px 3px 5px;
	display: flex;
	margin-top: -20px; 
	right: 0;
	/*margin-right: 5px;*/
	transition: 0.2s;
	transform: scale(0.7, 0.7);
	opacity: 0.5;	
	float: right;
	 
}

.discussion .remove span,
.edit span{
	line-height: 1em;
}

.discussion .remove:hover,
.edit:hover{
	transform: scale(0.9, 0.9);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	opacity: 1;
}

.discussion .remove:active,
.discussion .remove:focus,
.edit:active, .edit:focus{
	outline: none;
}


.discussion legend a{
	font-size: 1.5em;
	font-family: Arial;
	margin-right: 10px;

}

.disctitle{
    font-weight: normal;
    font-size: 1.5em;
    display: inline;
}


.discussion form a.user{
	top: 5px;
}

p{
	margin: 25px 5px;	
}

.edit{
	background-color: #3070D3;
}

.edit:hover{

	background-color: #3070D3;
}
.sort p, #sortdate, #sortvote{
	margin: auto;
}


/*===========PAGINATION===========*/

.pagination{
	display: flex;
	justify-content: center;
	margin: auto; 0;
	border: none;
	font-family: Arial;
}

.pagination li {
  display: inline;
}

.pagination  li  a{
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #e74c3c;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

.pagination li:first-child a{
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination li:last-child a{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination  li  a:hover,
.pagination  li a:focus{
  z-index: 2;
  color: #e74c3c;
  background-color: #dddddd;
}
















/*agination{
	align-items: center;
	text-align: center;
	justify-content: center;
	border: none;
	font-family: Arial;
	font-size: 1em;


}	

.pagination > a, .pagination > span{
	color: #e74c3c;
	text-decoration: none;
	margin: auto;
	float: left;
}	
.pagination > a:hover, 
.pagination > span:hover
{
    color: #e74c3c;
}

.pagination > span{
	cursor: default;
	font-weight: bold;
}
*/
