#announcements{
	width: 50%;
	margin: auto;
	position: relative;
}

.page-navigation{
	text-align: center;
	overflow: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.page-navigation a{
	margin: 0 5px;
	text-decoration: none;
}

h1.title{
	margin-bottom: 20px;
}

form.posting{
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	background-color: white;
	border: 1px solid #DDD;
	box-sizing: border-box;
}

form.posting.true{
	position: absolute;
	z-index: 5;
}

form.posting h3.name{
	font-weight: normal;
}

form.posting > *{
	margin: 5px 0;
	font-family: Arial;
}

form.posting textarea,
form.posting input[type=text]{
	padding: 10px 20px;
}

form.posting textarea{
	resize: none;
	height: 40px;
	transition: 0.2s;
}

form.posting textarea:focus{
	height: 200px;
}

form.posting.true input[type=submit]{
	margin-left: auto;	
}

.posted{
	list-style: none;
	padding: 0;
	width: 100%;
	margin: auto;
	margin-top: 220px;
}

.posted-content{
	margin: 20px auto 20px auto;
	padding: 20px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	border: 1px solid #DDD;
	font-family: Arial;
	position: relative;
}

.posted-content > *{
	margin: 5px 0;
}

.posted-content h2.type{
/*	font-weight: bold;
	font-size: 1.5em;*/
	display: inline-block;
	font-size: 1.2em;
    text-transform: capitalize;
    transition: 0.2s;
    color: #740000;
}

.posted-content .date{
	margin-left: 10px;
}

.posted-content a{
	text-decoration: none;
}

.posted-content .name{
	font-weight: normal;
	font-size: 1em;
	color: #3498db;
	margin: 5px 0;
}

.posted-content .name:hover{
	text-decoration: underline;
}

.posted-content .caption{
	padding: 10px;
	color: #555;
}

.absolute{
	position: absolute; /*anything under the absolute class*/
	color: white;
	padding: 3px 3px; 
	border-radius: 50%;
}

.delete,
.edit{
	transform: scale(0.8, 0.8);
}

.delete{
	top: 10px; /*10px from top*/
	right: 10px; /*10px from right*/
	background-color: #E91E63;
	transition: 0.2s; /*aesthetics*/
}
.edit{
	top: 10px; /*10px from top*/
	right: 35px; /*40px from right*/
	background-color: #03A9F4;
	transition: 0.2s; /*aesthetics*/
}
.delete span,
.edit span{ /*selecting the span below the elements with edit and delete class*/
	font-size: 0.9em; /*made smaller icons*/
	width: 19px; /*created equal width and height*/
	height: 17px;
}

.delete span{
	transform: translate(0, 1px);	
}
.edit span{
	transform: translate(3px, 1px);	
}

/*for aesthetic purposes*/
.edit:hover{
	background-color: #40C4FF;
	cursor: pointer;
	transform: scale(1, 1);
}
.delete:hover{
	background-color: #FF4081;
	cursor: pointer;
	transform: scale(1, 1);
}
.posted-content .edit{
	display: inline-block;
}

.posted-content form.delete{
	display: inline-block;
}

.none{
	margin-top: -100px; 
	margin-bottom: 200px;
}

.group-btn{
	display: flex;
	justify-content: flex-end;
}

.group-btn > *{
	margin: 0 5px;
}