p.current-date{
	color: #c0392b!important;
	font-size: 1.2em;
}

ul.announcements-container{
	padding: 0 40px;
	list-style: none;
}

li.announcement{
	position: relative;
}

li.announcement,
li form.posting{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 10px 20px;
	margin: 30px;
}

li.announcement .org-name,
li form.posting .org-name{
	font-size: 1.3em;
	margin: 2px;
	font-family: Arial;
	display: inline-block;
}
li.announcement .topic,
li form.posting input[type=text]{
	font-size: 1.0em;
	margin: 2px;
	font-family: Arial;
	clear: both;
	font-weight:  normal;
}
a{
	color: black;
}
.org-name{
	font-weight: bold;
	color: #740000;
}
.org-name:hover{
	color: #ff8a80;
}

.name:hover{
	text-decoration: underline;
}

li.announcement .name,
li form.posting .name{
	font-size: 1em;
	margin: 2px;
	font-family: Arial;
	display: inline-block;
	color: #3498db;
	font-weight: normal;
}

li.announcement .notif-content,
li form.posting textarea{
	font-size: 1em;
	margin: 2px;
	font-family: Arial;
	display: block;
}
li form.posting textarea{
	resize: none;
	height: 40px;
	transition: 0.2s;
}
li form.posting textarea:focus{
	height: 200px;
}
li form.posting textarea,
li form.posting input[type=text]{
	width: 100%;
}

li.announcement form{
	position: absolute;
	top: 10px;
	right: 10px;
}

li.announcement .remove,
li.announcement .edit{
	border-radius: 50%;
	padding: 5px 5px 3px 5px;
	display: inline-block;
	top: 5px;
	right: 5px;
	transition: 0.2s;
	transform: scale(0.7, 0.7);
}

li.announcement .remove span, 
li.announcement .edit span{
	line-height: 1em;
}

li.announcement .remove:hover,
li.announcement .edit:hover{
	transform: scale(0.9, 0.9);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	opacity: 1;
}

li.announcement .remove:active,
li.announcement .remove:focus,
li.announcement .edit:active,
li.announcement .edit:focus{
	outline: none;
}

.edit{
	background-color: #3070D3;
}