p.current-date{
	color: #c0392b!important;
	font-size: 1.2em;
}

ul.announcements-container{
	/*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
	padding: 0 40px;
	list-style: none;
}

li.announcement{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 10px 20px;
	margin: 30px;
}

li.announcement .org-name{
	font-size: 1.3em;
	margin: 2px;
	font-family: Arial;
	display: inline-block;
	font-weight: normal;
}

a{
	color: black;
}
.org-name:hover{
	color: #5e5e5e;
}

.name:hover{
	text-decoration: underline;
}

li.announcement .name{
	font-size: 1em;
	margin: 2px;
	font-family: Arial;
	display: inline-block;
	color: #3498db;
	font-weight: normal;
}

li.announcement .notif-content{
	font-size: 1em;
	margin: 2px;
	font-family: Arial;
	display: block;
}

li.announcement form{
	display: inline-block;
	float: right;
}
/*.edit{
	transform: translate(5px,-3px);
	font-size: 0.7em;
	padding: 3px 10px;
	display: inline-block;
	padding: 5px 5px 3px 5px;
	border-radius: 50%;
}*/
li.announcement .remove, .edit{
	border-radius: 50%;
	padding: 5px 5px 3px 5px;
	display: inline-block;
	top: 5px;
	right: 5px;
	transition: 0.2s;
	transform: scale(0.7, 0.7);
	margin-right: -10px;
}

li.announcement .remove span, .edit span{
	line-height: 1em;
}

li.announcement .remove:hover, .edit:hover{
	transform: scale(0.9, 0.9);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	opacity: 1;
}

li.announcement .remove:active,
li.announcement .remove:focus,
.edit:active, .edit:focus{
	outline: none;
}

