@font-face{
	font-family: Chaparral;
	src: url("font/ChaparralPro-Regular.otf");
}

*{
	font-family: Arial;
}

body{
	margin: 0;
}

#content{
	min-height: 80vh;
	width: 78.75vw;
	margin: 20px 1.25vw 20px 18.75vw;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	padding: 2vh 2vw;
	box-sizing: border-box;
}

#content > h1.title,
#content > .header > h1.title{
	font-family: Chaparral;
	text-align: center;
	font-size: 3em;
	letter-spacing: 0.05em;
	padding: 10px;
	text-transform: capitalize;
	color: white;
	background-color: #e74c3c;
}
/*
#content > .header{
	position:relative;
}*/

.img-absolute{
	/*position: absolute;*/
	/*border-radius: 50%;*/
	height: 100px;
	width: 100%;
	top: 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	border: 1px solid #DDD;
}

button,
input[type=submit],
input[type=button],
.buttoncustom{
	background-color: #e74c3c;
	padding: 5px 20px;
	font-family: Arial;
	font-size: 0.9em;
	border: none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	transition: 0.2s;
	text-decoration: none;
}

button:hover,
input[type=submit]:hover,
input[type=button]:hover,
.buttoncustom.delete:hover{
	background-color: #ff8a80;
}

.buttoncustom.edit:hover{
	background-color: #00B0FF;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=date],
select,
textarea{
	padding: 5px 20px;
	box-sizing: border-box;
	border: 1px solid #DDD;
	transition: 0.2s;
}

input[type=text]active,
input[type=text]focus,
input[type=password]:active,
input[type=password]:focus,
input[type=search]:active,
input[type=search]:focus,
input[type=email]:active,
input[type=email]:focus,
input[type=date]:active,
input[type=date]:focus,
select:active,
select:focus,
textarea:focus,
textarea:active{
	outline: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-color: #e74c3c;
}

footer{
	background-color: #e74c3c;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin: 20px 0;
	bottom: 0;
	left: 0;
	color: white;
	font-family: Arial;
	font-size: 0.9em;
}

ul.pagination{
	display: flex;
	justify-content: center;
	margin: 30px 0;
	border: none;
	font-family: Arial;
}

ul.pagination a,
ul.pagination b,
ul.pagination span{
	color: #e74c3c;
}

ul.pagination b,
ul.pagination span{
	cursor: default;
}

ul.pagination a:hover,
ul.pagination b:hover,
ul.pagination span:hover{
	color: #e74c3c;
}

.date{
	font-size: 0.8em;
	margin: 2px;
	font-family: Arial;
	display: inline-block;
	color: #95a5a6;
}

.none{
	color: #888;
	text-align: center;
}