/*--------NAVIGATION---------*/

/*#navigation{
	list-style-type: none;
	position: fixed;
	left: 0;
	width: 20%;
	background: #ad464c;
	height: 100%;
	
}
#navigation > li > a{
	text-align: center;
	background: #ad464c;
	border: 1.5px solid transparent;	
	border-radius: 0;
	color: white;
	transition: 0.2s;
}

#navigation > li > a:hover{
	background: #c04c53;
}

#prof_pic{
	display: block;
	margin: auto;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
}*/

nav{
	background-color: #e74c3c;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 17.5vw;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 5;
}

nav ul{
	padding: 0;
	list-style: none;
}

nav li{
	margin: 5px 0;
}

nav li a{
	color: white;
	font-family: Arial;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	text-align: center;
	transition: 0.2s;
}

nav .username{
	font-size: 1.2em;
}

nav li a.active{
	background-color: #c0392b!important;
	color: white!important;
	cursor: default;
}

nav li a:hover{
	background-color: white;
	color: #e74c3c;
	text-decoration: none;
}

nav li.image a{
	padding: 0;
}

nav li.image a:hover{
	background-color: #e74c3c;
}

nav img{
	margin: 5px 5px;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	transition: 0.4s;
	border: 3px solid rgba(0,0,0,0);
}

nav img:hover{
	border-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transform: scale(1.05,1.05);
}

/*<li><a class="dropbtn" href="groups.php">Groups</a>
    <div class="dropdown-list">
        <a href="group_page.php?orgID=<?=$org_id2?>"><?=$orgName2?></a>
    </div>
</li>*/
.notif-count{
	padding: 1% 2% 1% 2%;
	background: #cc0000;
	color: #ffffff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	font-size: 67%;
}
li.dropbtn:hover > a.dropbtn{
	background-color: white;
	color: #e74c3c;
}

a.dropbtn + ul.dropdown-list{
	display: none;
	position: absolute;
	background-color: white;
	left: 17.5vw;
	margin-top: -38px;
	width: 200px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 5;
}

a.dropbtn + ul.dropdown-list a{
	color: #888;
	padding: 10px 20px;
	background-color: white;
	border-bottom: 1px solid #EEE;
	font-size: 0.85em;
}

a.dropbtn + ul.dropdown-list li{
	margin: 0;
}

a.dropbtn + ul.dropdown-list a:hover,{
	/*background-color: #EEE;*/
	background-color: #DDDEE1;
	color: #555;
}

ul.dropdown-list:hover ~ a.dropbtn{
	background-color: white;
	color: #e74c3c;
}

a.dropbtn + ul.dropdown-list:hover,
a.dropbtn:hover + ul.dropdown-list{
	display: block;
}
.dropdown-list li a:hover{
	background-color: #DDDEE1 !important;
}