@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Oswald');
@font-face{
	font-family: "Arca Majora 3 Bold";
	src: url("../fonts/ArcaMajora3-Bold.otf") format("opentype");
}
body{
 	background-image: url("../images/polygonwhite.jpg");
    background-repeat:no-repeat;
    background-size: 100% 150%;
}
p{
	font-family: 'PT Sans', sans-serif;
}
#searchbar{
	font-size: 100%;
   	padding: 0.2%;
   	border-radius: 3%;
   	margin-bottom: 5%;
   	font-family: 'PT Sans', sans-serif;
   	border-color:white;
   	box-shadow: none;
   	text-align: center;
}
#searchbar:focus{
	border-color:white;
	box-shadow:none;
}
#general{
	margin: 1%;
}
#general > #navigation{
	margin: 0.06%;
	list-style-type: none;
	padding: 1%;
	max-width: 20%;
	border-radius: 1%;
	background-color: #c4352a;
	max-height: 100%;
	float: left;
	overflow: auto;
	color: white;
}
#general > #navigation > li, #dropA{
	font-family: 'PT Sans', sans-serif;
	text-align:center;
	margin-bottom: 3%;
	padding:0.9%;
}
#general > #navigation > #liTo{
	font-size: 150%;
   	color: #750412;
   	font-family: 'Arca Majora 3 Bold', sans-serif;
   	text-align: center;
  	width: auto; 
	text-align: center; 
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
	margin-top: 10%;
	margin-bottom: 8%;
}
#general > #navigation > #liTo span{
	background:#fff; 
	padding:0 10px;
}
#general > #navigation >li a, #dropA{
	-webkit-transition: .4s;
	-o-transition: .4s;
	-moz-transition: .4s;
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: white;
	border: 1px solid #c4352a;
}
#general > #navigation >li a:hover, #dropA:hover{
  background-color: white;
  color: #a10115;
  border: 1px solid #a10115;
}
img{
	/*border-radius: 50%;
	max-height: 60%;
	max-width: 70%;
	padding: 7% 9% 7% 9%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;*/
	padding: 4% 1% 4% 1%;
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
#general > #navigation > li > .active{
  background-color: #a10115!important;
  border: 1px solid #a10115!important;
  color: white!important;
}
h2{
	color: #740000;
	line-height: 100%;
	background-color: rgba(249, 243, 243, 0.5);
	/*border-radius: 1%;
	-moz-border-radius: 1%;
	-webkit-border-radius: 1%;*/
	font-size: 300%;
	margin: auto;
	text-align: center;
	font-family: 'Arca Majora 3 Bold', sans-serif;
	padding: 1%;
}
#content{
	position: relative;
	float: left;
	left: 7%;
	margin:auto;
	width: 65%;
	padding: 1%;
}
#inner{
	background-color: rgba(140, 2, 2, 0.8);
	color: rgb(249, 243, 243);
	list-style-type: none;
	margin: 2%;
	padding: 1%;
}
dl > dt{
	font-size: 110%;
	margin: 1%;
	font-family: 'Arca Majora 3 Bold', sans-serif;
	/*text-transform: uppercase;*/
	color: #CFCBCB;
}
dl > dd{
	font-size: 100%;
	font-family: 'PT Sans', sans-serif;
}
footer{
	text-align: center;
	font-family: Arial;
	padding: 2px 0px 2px 0px;
	height: 20px;
	background-color: #c4352a;
	color: white;
	width: 100%;
	float: left;
	font-family: 'Arca Majora 3 Bold', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

/*DROPDOWN*/
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown{
	display: inline-block;
	width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 15.28%;
    overflow: auto;
}
.dropdown-content a{
    color: black;
    padding: 5%;
    display: block;
    text-decoration: none;
    list-style-type: none;
}

.dropdown-content a:hover {background-color: #CCCBCA;}
.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/