@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Oswald|Josefin+Slab');
#content > .userProf{
	width: 80%;
	margin: auto;
	padding: 40px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#profile{
	margin-left: 5%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
p, h3{
	color: #333;
}
.namev{
    text-decoration: none;
    font-size: 1em;
    margin: 2px;
    font-family: Arial;
    color: #3498db;
    font-weight: normal;
}
.pic{
	height: 0px;
}
.orgsjoined{
	margin-left: 50%;
}
li{
    list-style-type: none;
}
#back{
    margin-left: 6%;
    margin-bottom: 1%;
}
*{
	font-family: Arial;
}

body{
	margin: 0;
}
.namev:hover{
	text-decoration: underline;
}